<h2 mat-dialog-content>Enter the video time where you want your drawing to be inserted</h2>
<br>
<div class="timestamp-input">
  <mat-form-field appearance="outline">
    <mat-label required>Start Time</mat-label>
    <input matInput [(ngModel)]="data.startTime" type="time">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label required>End Time</mat-label>
    <input matInput [(ngModel)]="data.endTime" type="time">
  </mat-form-field>
</div>

<div class="timestamp-submit" mat-dialog-actions>
    <button mat-button [mat-dialog-close]="null">Close</button>
    <button [mat-dialog-close]="data">Submit</button>
</div>