<div [hidden]="loading" class="main-container">
    <div class="spacer-top">
        <div [hidden]="!canvasBool" class="canvas-tool" id="brush-tool" (click)="toggleBrushTool()">
            <fa-icon [icon]="faPaintBrush" transform="grow-15"></fa-icon>
        </div>
        <div [hidden]="!canvasBool" class="canvas-tool" id="eraser-tool" (click)="toggleEraserTool()">
            <fa-icon [icon]="faEraser" transform="grow-20"></fa-icon>
        </div>
        <div [hidden]="!canvasBool" class="canvas-tool" id="trash-tool" (click)="toggleTrashTool()">
            <fa-icon [icon]="faTrash" transform="grow-15"></fa-icon>
        </div>
        <div [hidden]="!canvasBool" class="upload-tool" (click)="uploadSnippet()">
            <fa-icon [icon]="faUpload" transform="grow-15"></fa-icon>
        </div>
    </div>
    <div class="app-container" id="app-container">
        <div [hidden]="!initCanvasBool" class="canvas-container" id="canvas-container">
            <canvas class="canvasEl" id="canvasId"
                (mousemove)="onMouseMove($event)" 
                (mousedown)="onMouseDown($event)" 
                (mouseup)="onMouseUp()" 
                (touchmove)="onTouchMove($event)" 
                (touchstart)="onTouchStart($event)" 
                (touchend)="onTouchEnd()" 
                (mouseleave)="onMouseLeave()" 
                (mouseenter)="onMouseEnter()" 
                #canvasEl
            ></canvas>
        </div>
        <video [hidden]="!videoBool" id="video-container" src="#" type="video/mp4" controls></video>
        <div [hidden]="!instructionsBool" id="instructions-container">
            <div class="text-container">
                <p style="text-align: center; font-size: 1.2em;">The Open Animation allows you to add drawings to a larger animation</p>
                <p style="text-align: center; font-size: 1.2em;">You can see the current animation by going to the "Video Player" tab</p>
                <br><br><br>
                <p>Steps to add a drawing to the animation:</p>
                <ul>
                    <li>Go to the "Canvas" tab</li>
                    <li>Draw a picture that fits in with the soundtrack</li>
                    <li>Click the orange upload button</li>
                    <li>Input the video time where you want your drawing to be inserted</li>
                    <li>Go to the Video Player tab and you will see that your picture has been added to the video</li>
                </ul>
            </div>
        </div>
        <div [hidden]="!feedbackBool" id="feedback-container">
            <div class="text-container">
                <div class="comment-header">
                    <p>Author's Note:</p>
                    <p>I'd like to make this app as good as possible so if you have any feedback or suggestions please leave them below</p>
                </div>
                <br>
                <div *ngFor="let comment of commentary" id="comments" style="font-size: 0.7em;">
                    <p>{{ comment }}</p>
                </div>
            </div>
            <div class="comment-form-container">
                <div class="comment-input-container">
                    <input class="comment-form" type="text" [(ngModel)]="currentComment" placeholder="Aa">
                </div>
                <button class="comment-button" (click)="submitCommentary()">
                    <fa-icon [icon]="faComment" transform="grow-15"></fa-icon>
                </button>
            </div>
        </div>
    </div>
    
    <div class="button-container">
        <button id="video-button" mat-raised-button color="primary" type="button" (hover)="true" (click)="toggleVideoPlayer()">
            <fa-icon [icon]="faPaintBrush" transform="grow-2"></fa-icon>
            <div>Video Player</div>
        </button>
        <button id="canvas-button" mat-raised-button color="primary" type="button" (click)="toggleCanvas()">
            <fa-icon [icon]="faPenToSquare" transform="grow-2"></fa-icon>
            <div>Canvas</div>
        </button>
        <button id="instructions-button" mat-raised-button color="primary" type="button" (click)="toggleInstructions()">
            <fa-icon [icon]="faCircleInfo" transform="grow-2"></fa-icon>
            <div>Instructions</div>
        </button> 
        <button id="feedback-button" mat-raised-button color="primary" type="button" (click)="toggleFeedback()">
            <fa-icon [icon]="faComments" transform="grow-2"></fa-icon>
            <div>Feedback</div>
        </button> 
    </div>
</div>
<div [hidden]="!loading" class="loading">
    <p>Loading</p>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>