<div class="main-container">
    <canvas [hidden]="!canvasBool" id="canvas-container" (mousemove)="startDrawing($event)" #canvasEl></canvas>
    <video [hidden]="!videoBool" id="video-container" src="#" type="video/mp4" controls></video>
    <div class="upload-container">
        <div class="button-container">
            <button mat-raised-button color="primary" type="button" (click)="showCanvas()">
                <mat-icon>create</mat-icon>
                Show Drawing Canvas
            </button>
            <button mat-raised-button color="primary" type="button">
                <mat-icon>cloud_upload</mat-icon>
                Upload File
            </button>   
        </div>
    </div>
</div>