
.main-container {
    padding: 0;
    width: 80vw;
    height: 100vh;
    background-color: rgba(216, 216, 216, 0.397);
    margin: auto;
}

[hidden] {
    display: none !important;
  }

.spacer-top {
    display: flex;
    width: 30%;
    height: 7em;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.canvas-tool {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 1em;
    height: 50%;
    width: 5em;
    padding: 0.5em 0;
    align-items: center;
    border-radius: 20em;
    background-color: rgba(13, 29, 207, 0.048);
    border: 0.15em solid rgba(9, 17, 116, 0.185);  
}

.upload-tool {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 1em;
    height: 50%;
    width: 5em;
    padding: 0.5em 0;
    align-items: center;
    background-color: rgba(207, 100, 13, 0.096);
    border: 0.15em solid rgba(207, 100, 13, 0.315);
}

.upload-tool:hover {
    background-color: rgba(255, 115, 0, 0.384)!important;
    cursor: pointer;
}

.canvas-tool:hover {
    background-color: rgba(41, 169, 255, 0.473)!important;
    cursor: pointer;
}

.app-container {
    font-size: 2em;
    line-height: 1.2;
    background-color: white;
    width: 100%;
    height: 75vh;
}

#video-container {
    background-color: black;
    width: 100%;
    height: 100%;
}

#instructions-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: auto;
    border: 1px solid black;
    border-radius: 0.2em;
}

.text-container {
    margin-top: 3em;
}

#instructions-container ul {
    width: 100%;
}

.canvasEl {
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 0.2em;
}

.canvasEl:hover {
    cursor: crosshair;
}

/* ///////////////////////////////////////////////////////////////////// */

.button-container {
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 1em;
    justify-content: space-evenly;
}

button {
    display: flex;
    font-size: large;
    align-items: center;
    border-radius: 2em;
    background-color: rgba(13, 29, 207, 0.048);
    border: 0.15em solid rgba(9, 17, 116, 0.185);  
    padding: 0.8em 1em;
}

.button-container button:hover {
    background-color: rgba(41, 169, 255, 0.473)!important;
    cursor: pointer;
}

mat-icon {
    margin-right: 0.5em;
}

